// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Widths
@import 'widths';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// iziToast
@import '~izitoast/dist/css/iziToast.min.css';

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.active-nav-item {
    color: black;
    font-weight: 700;
    cursor: default;
    pointer-events: none;
}

.active-nav-item:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 4px;
    content: "";
    background-color: $primary;
}

.form-group.required label:after {
    content: " *";
    color: red;
}

span.required {
    color: red;
}

.responsive-oblique-line {
    background: linear-gradient(to top right, #f8fafc calc(50% - 1px), #dee2e6, #f8fafc calc(50% + 1px) )
}
